<div class="d-flex justify-content-center">
  <p-card header="Sales" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Sales" src="./../../assets/images/sales.png" />
    </ng-template>
    <p>At this page you can view the sales raport</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        routerLink="/sales"
        type="button"
        label="sales"
        icon="pi pi-chart-bar"
        class="p-button"
      ></button>
    </ng-template>
  </p-card>
  <p-card header="Add new product" class="ml-3" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Add new product" src="./../../assets/images/new.png" />
    </ng-template>
    <p>At this page you can add new product</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        routerLink="/new-product"
        type="button"
        label="add"
        icon="pi pi-plus"
        class="p-button"
      ></button>
    </ng-template>
  </p-card>
</div>
